[user]
   # These values determine what ends up in the <author> and <committer> fields of commit objects
	name = Grant Holland
	email = gwholland3@gmail.com
[core]
   # Do not automatically convert line endings in the working directory to CRLF
	autocrlf = input
[color]
   # Use color when outputting to the terminal
	ui = auto
[alias]
   # Very pretty logging output
	lg = log --graph --branches --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --author-date-order

   # Show the last commit that touched a file, even if that file has been deleted
	delCommit = log --all -1 --

   # Fetch from origin AND update the default branch locally, but remain on the original branch from which you ran the command
	sync = !git checkout $(git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@') && git pull -p && git checkout -

   # Force push, but only if the remote branch hasn't been updated since the last fetch and its tip is still contained in the overriding branch
	pushfl = push --force-with-lease --force-if-includes
[pull]
   # When running git pull, do not rebase current branch on top of upstream branch should it have diverged
	rebase = false
[init]
   # Override the default branch name when initializing a new Git repository
	defaultBranch = main
[grep]
   # Always show line numbers in output of git grep
	lineNumber = true
