# This is my top-level .gitconfig file.
#
# We include some core configuration and make any necessary overrides afterwards.

[include]
   path = .gitconfigs/core.inc
[user]
   # These values determine what ends up in the <author> and <committer> fields of commit objects
	name = Grant Holland
	email = gwholland3@gmail.com

