[user]
   # These values determine what ends up in the <author> and <committer> fields of commit objects
	name = Grant Holland
	email = gwholland3@gmail.com
[core]
   # Do not automatically convert line endings in the working directory to CRLF
	autocrlf = input
[color]
   # Use color when outputting to the terminal
	ui = auto
[alias]
   # Very pretty logging output
	lg = log --graph --branches --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --author-date-order

   # Show the last commit that touched a file, even if that file has been deleted (relative to HEAD)
	del-commit = log -1 --

   # Alias for checking if the current working directory is in a git repo. This command should output
   # the typical git error message if not in a repo. Otherwise, it outputs nothing. Its exit code also
   # corresponds with whether it's in a git repo.
   in-repo = rev-parse

   # Output the name of the repo's default branch
   mainb = !git in-repo && basename $(git symbolic-ref --short refs/remotes/origin/HEAD)

   # Squash all the commits on the current feature branch into one, keeping the commit message of the first
   squash = !git in-repo && git reset --soft $(git merge-base HEAD $(git mainb)) && git commit -m \"$(git log --reverse --format=%B HEAD..HEAD@{1} | head -n 1)\"

   # Force push, but only if the remote branch hasn't been updated since the last fetch and its tip is still contained in the overriding branch
	pushfl = push --force-with-lease --force-if-includes

   # Amend most recent commit with current changes and keep the same commit message
   fixup = commit --amend --no-edit

   # Checks whether one commit "contains" another
   contains = "!git in-repo && f() { git merge-base --is-ancestor \"$2\" \"$1\" && echo yes || echo no; }; f"

   ###############################################################
   # BASH FUNCTIONS 
   #
   # I have to request git to launch a login bash shell in
   # order for these functions to be available for use
   # as a git alias.
   #
   # Check the corresponding documentation from the function
   # definitions for more about what these do.
   ###############################################################

   wt-clean =   !bash -l -c "git_wt_clean"
   sync =       !bash -l -c "git_sync"
   now =        !bash -l -c "git_now"
   get-branch = !bash -l -c "git_get_branch"
[pull]
   # When running git pull, do not rebase current branch on top of upstream branch should it have diverged
	rebase = false
[init]
   # Override the default branch name when initializing a new Git repository
	defaultBranch = main
[grep]
   # Always show line numbers in output of git grep
	lineNumber = true
[push]
   # Automatically set up an upstream tracking branch when running `git push` on a local-only branch
	autoSetupRemote = true
